<ul>
  <div class="container">
    <h1>Sign up for VisualSuggestionBox</h1>
    <div class="text-and-textareas">
      <br />
      <form>
        <div class="form-group">
          <label for="fn">Full name:</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="usr">Username:</label>
          <input type="text" class="form-control" id="us">
        </div>
        <div class="form-group">
          <label for="em">Email:</label>
          <input type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pass">
        </div>
        <div class="form-group">
          <label for="un">Unit:</label>
          <input type="text" class="form-control" id="unit">
        </div>
        <div class="form-group">
          <button type="button" class="button"><span>Register</span></button>
        </div>
      </form>
    </div>
  </div>
</ul>
