<div class="container">
                 
  <div class="row justify-content-center">

  <table class="table table-dark" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Manager</td>
      </tr>
      <tr>
        <th scope="row">2</th>

        <td>Director</td>

      </tr>
      <tr>
        <th scope="row">3</th>

        <td>Student</td>
      </tr>
      <tr>
        <th scope="row">4</th>

        <td>#hashcategory</td>
      </tr>      
    </tbody>
  </table>
</div>
</div>
