* {
  box-sizing: border-box;
}

.footer {


  text-align: center;
  background-color: lightblue;
  font-size: 20px;
  line-height: 65px;
  margin-right: auto;
  margin-left: auto;
  position:absolute;
  bottom:0px;
  width:100%;
}

