<body>
  <div class="container">
    <h1>Add a suggestion</h1>
    <br />
    <div class="text-and-textareas">
      <form>

        <div class="form-group">
          <label>Subject:</label>      
          <input type="text" class="form-control" id="sub" [(ngModel)]="suggestion.subject" name="suggestionSubject" required>
        </div>

        <div class="form-group">
          <label>Improvement:</label>
          <input type="text" class="form-control" id="imp" [(ngModel)]="suggestion.improvement" name="suggestionImprovement" required>
        </div>

        <div class="form-group">
          <label>Solution:</label>
          <input type="text" class="form-control" id="sol" [(ngModel)]="suggestion.solution" name="suggestionSolution" required>
        </div>

        <div class="form-group">
          <label>Category</label>
          <select class="form-control" id="select" [(ngModel)]="suggestion.category" name="suggestionCategory" required>
            <option disabled>Select one category</option>
            <option>Company</option>
            <option>Products</option>
            <option>Remuneration</option>
            <option>Ideas</option>
          </select>
        </div>

        <button type="button" class="button" (click)="save()"><span>Submit</span></button>
      </form>
      <br />
    </div>
  </div>
</body>
