<!-- header -->

<ul>
  <div class="container">
    <h1>Please fill to add your suggestion!</h1>
    <div class="text-and-textareas">
    <br />   
      <p style="font: 1em sans-serif;">
        <b>Subject</b>
      </p>
      <textarea cols="100"></textarea>


      <p>Category:</p>
      <select>
        <option disabled>Select one category</option>
        <option value="Company">Company</option>
        <option value="Products">Products</option>
        <option value="Remuneration">Remuneration</option>
      </select>

      <br>
      <br>
      <br>
      <br>

      <p style="font: 1em sans-serif;">Suggestion</p>
      <textarea rows="5" cols="100"></textarea>
      <br>
      <br>
      <button type="button" class="button"><span><a routerLink="/home">Submit</a></span></button>
    </div>
  </div>
</ul>

